*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #1767FE;
  --primary-dark: #0D27F7;
  --primary-darker: #0E1BEF;
  --text-gray: #717171;
  --text-light-gray: rgba(112, 112, 112, 0.60);
  --bg-card: #F8F8FF;
  --border-color: rgba(218, 218, 218, 0.80);
  --border-input: rgba(167, 167, 167, 0.80);
  --shadow-card: 0px 1px 4px rgba(0, 0, 0, 0.16);
  --font-main: 'Poppins', sans-serif;
  --font-heading: 'Inter', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select, button {
  font-family: var(--font-main);
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
